@model List<BillDetailVM>
@{
    ViewData["Title"] = "BillDetail";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
    decimal totalAccount = 0;
}

<div class="container" style="margin-left:50px">
    <h2>Hesap Detay</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Masa Adı</th>
                <th>Ürün Adı</th>
                <th>Adet</th>
                <th>Ürün Fiyat</th>
                <th>Total Fiyat</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
               totalAccount += item.TotalPrice;

            <tr>
                <td>@item.TableName</td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.TotalPrice</td>


            </tr>


        }
        <div class="col-md-4" style="background-color:green">
            <h2 style="color:white">Toplam tutar: @totalAccount TL</h2>
            </div>

</div>

