@model List<TableOfRestaurant>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-left:50px">
    <h2>Masa Listesi</h2>
    <h2><a href="/manager/tableofrestaurant/create"><button class="btn btn-outline-success">Ekle</button></a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Masa Adı</th>
                <th>Konumu</th>
                <th>Kapasitesi</th>
                <th>Rezervayon durum</th>
                <th>Garson Adı</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.TableName</td>
                <td>@item.TableLocation</td>
                <td>@item.TableCapacity</td>
                <td>@item.Status</td>
                <td>@item.Employee?.Name @item.Employee?.Surname</td>
                <td>
                    
                    <a href="/manager/tableofrestaurant/orderlist/@item.Id"><button class="btn btn-info">Siparişler</button></a>
                    <a href="/manager/bill/billdetail/@item.Id"><button class="btn btn-primary">Hesap Detay</button></a>
                   

                </td>



            </tr>


        }


    </table>

</div>

