@model List<TableOfRestaurant>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-left:50px">
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Masa Adı</th>
                <th>Konumu</th>
                <th>Kapasitesi</th>
                <th>Rezervayon durum</th>
                <th>Garson Adı</th>
                <th>Hesap İstek</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.TableName</td>
                <td>@item.TableLocation</td>
                <td>@item.TableCapacity</td>
                <td>@item.Status</td>
                <td>@item.Employee?.Name @item.Employee?.Surname</td>
              
                   @if((int)item.BillRequest == 1)
                    {
                        <td style="background-color:red">@item.BillRequest</td>
                    }
                    else if ((int) item.BillRequest ==2)
                    {
                    <td style="background-color:green">@item.BillRequest</td>
                }
                else
                {
                    <td>@item.BillRequest</td>
                }

               
                <td>
                    <a href="/manager/bill/billprint/@item.Id"><button class="btn btn-secondary">Hesap Yazdır</button></a>
                    <a href="/manager/tableofrestaurant/orderlist/@item.Id"><button class="btn btn-info">Siparişler</button></a>
                    <a href="/manager/bill/billdetail/@item.Id"><button class="btn btn-primary">Hesap Detay</button></a>
                   

                </td>



            </tr>


        }


    </table>

</div>

