@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
   
}




<div class="container" style="margin-left:50px">
 
    <h2>Müşteri Ve Rezervasyon Listesi</h2>

    <form method="get" action="/manager/customer/Test2">
        <input type="datetime-local" name="testdate" />
        <button class="btn btn-info" type="submit">Göster</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Adres</th>
                <th>Telefon</th>
            @*     <th>Rezervasyon Tarih</th>
                <th>Açıklama</th> *@
                <th>Masa</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Adress</td>
                <td>@item.Phone</td>
            @*     <td>@item.ReservationDate</td>
                <td>@item.ReservationDescription</td> *@
                <td>@item.TableOfRestaurant.TableName</td>
                <td>
                    <a href="/manager/customer/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/customer/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>


                </td>



            </tr>


        }


    </table>

</div>


 