@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
   
}




<div class="container" style="margin-left:50px">
    <h2><a href="/manager/customer/create"><button class="btn btn-outline-success">Ekle</button></a></h2>
    <h2>Müşteri Listesi</h2>

 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Adres</th>
                <th>Telefon</th>
            @*     <th>Rezervasyon Tarih</th>
                <th>Açıklama</th> *@
                <th>Email</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Adress</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>
                    <a href="/manager/customer/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/customer/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>


                </td>



            </tr>


        }


    </table>

</div>


 