@model List<Order>
@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-left:50px">
<table id="orderItemsTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Masa</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Durum</th>
            <th>Fiyat</th>
            <th></th>
        
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.TableOfRestaurant.TableName</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity</td>
            @switch ((int)item.StatusOfOrder)
            {
                case 0:
                    <td style="background-color:red">@item.StatusOfOrder</td>
                    break;
                case 1:
                    <td style="background-color:orange">@item.StatusOfOrder</td>
                    break;
                case 2:
                    <td style="background-color:green">@item.StatusOfOrder</td>
                    break;
                case 3:
                    <td style="background-color:dodgerblue">@item.StatusOfOrder</td>
                    break;
            }
            <td>@item.TotalPrice</td>
            <td>
                <a href="/manager/orderitem/orderpreparing/@item.Id"><button class="btn btn-outline-primary">Preparing</button></a>
                <a href="/manager/orderitem/orderready/@item.Id"><button class="btn btn-outline-primary">Ready</button></a>
                <a href="/manager/orderitem/orderdelivered/@item.Id"><button class="btn btn-outline-primary">Delivered</button></a>
            </td>
           
        </tr>
    }
</table>
</div>
<script>
    setTimeout(function () {
        location.reload();
    }, 10000);  //Her 10 saniye de sayfa yenilenir böylelikle yeni kayıt ekrana yansır  1000 milisaniye(1 saniye)
</script>

              