@model ProductUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:40px">
    <div class="row justify-content-center">
        <div class="col-md-4">

            
            <form method="post" action="/manager/product/update" enctype="multipart/form-data" >
                <input type="hidden" asp-for="Id" value="@Model.Id"></input>
                <div class="form-group">
                    <label asp-for="ProductName"></label>
                    <input asp-for="ProductName" class="form-control" value="@Model.ProductName" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" value="@Model.Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" value="@Model.Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label>Ürün Görsel</label>
                    <input type="file" class="form-control" name="productImage">
                </div>
                <div class="form-group">
                    <label>Yemek Kategori</label>
                    <select asp-items="ViewBag.DishCategoryList" asp-for="CategoryId" class="form-control">
                        <option selected="" disable value="@Model.CategoryId">Yemek Kategori Seçimi</option>
                    </select>
                    <div class="form-group">
                        <label>Menu Adı</label>
                        <select asp-items="ViewBag.MenuList" asp-for="MenuId" class="form-control">
                            <option selected="" disable value="@Model.MenuId">Menu  Seçimi </option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label>Mutfak</label>
                    <select asp-items="ViewBag.KitchenList" asp-for="KitchenId" class="form-control">
                        <option selected="" disable value="@Model.KitchenId">Mutfak Seçimi</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tedarikçi</label>
                    <select asp-items="ViewBag.SupplierList" asp-for="SupplierId" class="form-control">
                        <option selected="" disable value="@Model.SupplierId">Tedarikçi Seçimi</option>
                    </select>

                </div>

                <div class="text-center">

                    <button type="submit" class="btn btn-primary" style="margin-top:10px">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>




