@model List<Reservation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-left:50px">


    <h2>Rezervasyon Listesi</h2>

  
        <div class="col-md-8">
            <form method="get" action="/manager/reservation/reservationday">
                <input type="datetime-local" name="testdate" />
                <button class="btn btn-info" type="submit">Göster</button>
            </form>
            </div>
        

    <div>
        <h2><a href="/manager/reservation/create"><button class="btn btn-outline-success">Rezervasyon Oluştur</button></a></h2>

    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Masa</th>
                <th>Müşteri</th>
                <th>Rez Tarih</th>
                <th>Misafir Sayısı</th>
                <th>Not</th>
                <th>Rez Durum</th>         
               
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.Id</td>
              <td>
                    @if (item.TableOfRestaurant != null)
                    {
                        @item.TableOfRestaurant.TableName
                    }
                    else
                    {
                        <text>NULL</text>
                    }

                </td>

               <td>
                @if(item.Customer!=null)
                {
                    @item.Customer.Name @item.Customer.Surname
                }
                  
                
                else
                {
                        <text>NULL</text>
                }
                   
                </td>
                <td>@item.ReservationDate</td>
                <td>@item.GuestNumber</td>
                <td>@item.Description</td>
                <td>@item.ReservationStatus</td>
            
                <td>
                    <a href="/manager/reservation/remove/@item.Id"><button class="btn btn-success">Tamamlandı</button></a>
                    <a href="/manager/reservation/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/reservation/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>


                </td>



            </tr>


        }


    </table>

</div>

<script>
    setTimeout(function () {
        location.reload();
    }, 30000);  //Her 30 saniye de sayfa yenilenir böylelikle yeni kayıt ekrana yansır  1000 milisaniye(1 saniye)
</script>

