
@{
    ViewData["Title"] = "ReservationDay";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:50px">

    <form method="get" action="/manager/reservation/reservationday">
        <input type="datetime-local" name="testdate" />
        <button class="btn btn-info" type="submit">Göster</button>
    </form>
    <div>
        <a href="/manager/reservation">back to Index</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tarih</th>
                <th>Masa</th>
                <th>Müşteri</th>
                <th>Misafir Sayısı</th>
                <th>Rez Durum</th>
                <th>Not</th>
                <th></th>



            </tr>
        </thead>

        @foreach (var item in ViewBag.ReservationDay as List<Reservation>)
        {


            <tr>
                <td>@item.Id</td>
                <td>@item.ReservationDate</td>
                <td>@item.TableOfRestaurant?.TableName</td>
                <td>@item.Customer?.Name</td>
                <td>@item.GuestNumber</td>
                <td>@item.ReservationStatus</td>
                <td>@item.Description</td>
                <td>
                    <a href="/manager/reservation/remove/@item.Id"><button class="btn btn-success">Tamamlandı</button></a>
                    <a href="/manager/reservation/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/reservation/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>

                </td>



            </tr>


        }


    </table>

</div>

