@model List<TableOfRestaurant>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-left:50px">


    <div style="margin-top:5px;margin-bottom:10px">
        @Html.Partial("_ToolbarTablePartialView")
    </div>



 

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Masa Adı</th>
                <th>Konumu</th>
                <th>Kapasitesi</th>
                <th>Masa Durumu</th>
                <th>Garson Adı</th>
                <th>Hesap Talep</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr data-location="@item.TableLocation">
                <td>@item.TableName</td>
                <td>@item.TableLocation</td>
                <td>@item.TableCapacity</td>
                @* <td>@item.Status</td> *@
                @switch ((int)item.Status)
                {
                    case 0:
                        <td style="background-color:darkorange">@item.Status</td>
                        break;

                    case 1:
                        <td style="background-color:green">@item.Status</td>
                        break;

                    default:
                        <td>@item.Status</td>
                        break;
                }
                <td>@item.Employee?.Name @item.Employee?.Surname</td>
                @if ((int)item.BillRequest == 1)
                {
                    <td style="background-color:red">@item.BillRequest</td>
                }
                else if ((int)item.BillRequest == 2)
                {
                    <td style="background-color:green">@item.BillRequest</td>
                }
                else
                {
                    <td>@item.BillRequest</td>
                }
                <td>
                   
                    <a href="/manager/tableofrestaurant/orderlist/@item.Id"><button class="btn btn-info">Siparişler</button></a>
                    <a href="/manager/tableofrestaurant/billrequest/@item.Id" onclick="return confirm('Hesap talep işlemi onaylıyor musunuz?')"><button class="btn btn-primary">Hesap İste</button></a>
                    <a href="/manager/tableofrestaurant/billrequestcancel/@item.Id" onclick="return confirm('Hesap talep erteleme işlemi onaylıyor musunuz?')"><button class="btn btn-outline-danger">Hesap İptal</button></a>



                </td>



            </tr>

        }


    </table>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function filterTables(location) {
        // Hide all rows initially
        $('table tr').hide();

        // Show only the rows that match the selected location
        $('table tr[data-location="' + location + '"]').show();
    }

</script>
<script>
    function showAllLocations() {
        // Show all rows
        $('table tr').show();
    }
</script>


