@model List<OrderItem>
@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<div>
    <label for="tableId">Enter Table ID:</label>
    <input type="text" id="tableId" />
    <button onclick="filterByTableId()">Filter</button>
</div>

<table id="orderItemsTable" class="table table-bordered">
    <thead>
        <tr>
        
            <th>Masa</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Durum</th>
            <th>Fiyat</th>
            <th></th>
           
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
          
            <td>@item.TableOfRestaurant.TableName</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.StatusOfOrder</td>
            <td>@item.TotalPrice</td>
            <td>
                <a href="/manager/tableofrestaurant/orderReady/@item.Id"><button class="btn btn-outline-primary">Ready</button></a>
            </td>
      
        </tr>
    }
</table>
