@model List<Order>
@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<table id="orderItemsTable" class="table table-bordered">
    <thead>
        <tr>
        
            <th>Masa</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Fiyat</th>
          
           
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
          
            <td>@item.TableOfRestaurant.TableName</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.Description</td>
            <td>@item.StatusOfOrder</td>
            <td>@item.TotalPrice</td>
           
        </tr>
    }
</table>
