@model List<Order>
@{
    ViewData["Title"] = "ListOrder";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}


<table id="orderItemsTable" class="table table-bordered">
    <thead>
        <tr>
        
            <th>Masa</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Fiyat</th>
          
           
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
          
            <td>@item.TableOfRestaurant.TableName</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.Description</td>
           @*  <td>@item.StatusOfOrder</td> *@
           @switch ((int)item.StatusOfOrder)
            {
                case 0:
                    <td style="background-color:red">@item.StatusOfOrder</td>
                    break;
                case 1:
                    <td style="background-color:orange">@item.StatusOfOrder</td>
                    break;
                case 2:
                    <td style="background-color:green">@item.StatusOfOrder</td>
                    break;
                case 3:
                    <td style="background-color:dodgerblue">@item.StatusOfOrder</td>
                    break;
            }
        @*    @if(item.StatusOfOrder == 0)
            {
                <td style="background-color:red">@item.StatusOfOrder</td>
            }
           @if(item.StatusOfOrder == 1)
            {
                <td style="background-color:orange">@item.StatusOfOrder</td>
            }
            @if(item.StatusOfOrder == 2)
            {
                <td style="background-color:green">@item.StatusOfOrder</td>
            }
            @if(item.StatusOfOrder )
            {
                
            } *@
            <td>@item.TotalPrice</td>
            <td>
                <a href="/manager/orderitem/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                <a href="/manager/orderitem/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>
            </td>
           
        </tr>
    }
</table>
