@model List<Ingredient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:50px">
    <h2>Malzeme Listesi</h2>
    <h2><a href="/manager/ingredient/create"><button class="btn btn-outline-success">Ekle</button></a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Malzeme Adı</th>
                <th>Fiyat</th>
                <th>Adet</th>
             
                <th>Malzeme Kategori</th>
                <th>Mutfak</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.IngredientName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>           
                <td>@item.IngredientCategory?.CategoryName</td>
                <td>@item.Kitchen.KitchenName</td>
                <td>
                    <a href="/manager/ingredient/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/ingredient/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>


                </td>



            </tr>


        }


    </table>

</div>

