@model IngredientVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:40px">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <h1>Malzeme Güncelle</h1>
            <form method="post">
                <div class="form-group">
                    <label asp-for="IngredientName"></label>
                    <input asp-for="IngredientName" class="form-control" value="@Model.IngredientName" />
                    <span asp-validation-for="IngredientName" class="text-bg-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice"></label>
                    <input asp-for="UnitPrice" class="form-control"  value="@Model.UnitPrice" />
                    <span asp-validation-for="UnitPrice" class="text-bg-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Quantity"></label>
                    <input asp-for="Quantity" class="form-control"  value="@Model.Quantity" />
                    <span asp-validation-for="Quantity" class="text-bg-danger"></span>

                </div>

                <div class="form-group">
                    <label>Yemek Kategori</label>
                    <select asp-items="ViewBag.CategorySelect" asp-for="IngredientCatgoryId" class="form-control">
                        <option selected="" disable value="@Model.IngredientCatgoryId">Malzeme Kategori Seçimi</option>
                    </select>



                </div>
                <div class="form-group">
                    <label>Mutfak</label>
                    <select asp-items="ViewBag.KitchenSelect" asp-for="KitchenId" class="form-control">
                        <option selected="" disable value="@Model.KitchenId">Mutfak Seçimi</option>
                    </select>



                </div>

                <div class="text-center">

                    <button type="submit" class="btn btn-primary" style="margin-top:10px">Güncelle</button>
                </div>

            </form>
        </div>
    </div>
</div>

