@model TransactionVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ToolbarPartialView")
<div class="container" style="margin-left:50px">

    <div class="row justify-content-center">
        <div class="col-md-4">

            <h1>İşlem Güncelle</h1>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Debit"></label>
                    <input asp-for="Debit" class="form-control" value="@Model.Debit" />
                    <span asp-validation-for="Debit" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Payment"></label>
                    <input asp-for="Payment" class="form-control" value="@Model.Payment" />
                    <span asp-validation-for="Payment" class="text-danger"></span>

                </div>


                <div class="form-group">
                    <label asp-for="InvoiceCode"></label>
                    <input asp-for="InvoiceCode" class="form-control" value="@Model.InvoiceCode" />
                    <span asp-validation-for="InvoiceCode" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="LastPaymentDate"></label>
                    <input asp-for="LastPaymentDate" class="form-control" type="datetime" value="@Model.LastPaymentDate" />
                    <span asp-validation-for="LastPaymentDate" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" value="@Model.Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label>Tedarikçi</label>
                    <select asp-items="ViewBag.Supplier" asp-for="SupplierId" class="form-control">
                        <option selected="" disable value="@Model.SupplierId">Tedarikçi Seçiniz</option>
                    </select>

                </div>



                <div class="text-center">

                    <button type="submit" class="btn btn-primary" style="margin-top:10px">Güncelle</button>
                </div>

            </form>
        </div>
    </div>
</div>
