@model List<Dish>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:50px">
    <h2>Yemek Listesi</h2>
    <h2><a href="/manager/dish/create"><button class="btn btn-outline-success">Ekle</button></a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Yemek Adı</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Açıklama</th>
                <th>Yemek Kategori</th>
                <th>Mutfak</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.DishName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Description</td>
                <td>@item.DishCategory?.CategoryName</td>
                <td>@item.Kitchen.KitchenName</td>
                <td>
                    <a href="/manager/dish/update/@item.Id"><button class="btn btn-outline-primary">Güncelle</button></a>
                    <a href="/manager/dish/remove/@item.Id"><button class="btn btn-danger">Sil</button></a>


                </td>



            </tr>


        }


    </table>

</div>

